In [117]:
import pandas as pd
import numpy as np

In [118]:
data=pd.read_csv('C:/Users/Hari/Desktop/Strive School/Build Weeks/Build Week1/Project_Webscraping/book_data.csv', sep='&')
data

,Unnamed: 0,url,title,author,num_reviews,num_ratings,avg_rating,num_pages,original_publish_year,series,genres,awards,places
0,0.0,https://www.goodreads.com/book/show/11084145-s...,Steve Jobs,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1,1.0,https://www.goodreads.com/book/show/8664353-un...,"Unbroken: A World War II Story of Survival, Re...",Laura Hillenbrand,47532,846842,4.35,492,2010,0,Nonfiction;History;Biography;War;World War II;...,Los Angeles Times Book Prize for Biography (20...,NaN
2,2.0,https://www.goodreads.com/book/show/10884.Eins...,Einstein: His Life and Universe,Walter Isaacson,3835,158267,4.12,675,2007,0,Biography;Nonfiction;Science;History;Science;P...,Audie Award for Biography/Memoir (2008),Europe
3,3.0,https://www.goodreads.com/book/show/1845.Into_...,Into the Wild,Jon Krakauer,23430,954182,3.99,207,1997,0,Nonfiction;Biography;Travel;Adventure;Classics...,Washington State Book Award (1997),"Mexico;Virginia;The Slabs, Mojave Desert, Cali..."
4,4.0,https://www.goodreads.com/book/show/2203.John_...,John Adams,David McCullough,6621,344140,4.04,751,2001,0,History;Biography;Nonfiction;North American Hi...,Pulitzer Prize for Biography or Autobiography ...,"Boston, Massachusetts;Philadelphia, Pennsylvania"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,95.0,https://www.goodreads.com/book/show/667678.Col...,Coltrane: Chasin' the Trane,J.C. Thomas,15,265,3.92,280,1976,0,Music;Biography;Music;Jazz;Nonfiction;History,NaN,NaN
1091,96.0,https://www.goodreads.com/book/show/7939034-th...,The End and the Beginning: Pope John Paul II -...,George Weigel,29,198,4.34,608,2010,0,Religion;History;Nonfiction;Biography;Christia...,Phoenix Catholic Award for Book of Foreign Aut...,NaN
1092,97.0,https://www.goodreads.com/book/show/20576213-g...,Genie en Wereld - Toulouse-Lautrec,Gérard Baüer,0,1,3.0,NaN,1969,0,NaN,NaN,NaN
1093,98.0,https://www.goodreads.com/book/show/16167419-f...,Faulkner: A Biography (Volume 2 of 2),Joseph Blotner,1,11,4.64,NaN,1974,0,Biography,NaN,NaN
1094,99.0,https://www.goodreads.com/book/show/7162696-ma...,Maimonides: The Life and World of One of Civil...,Joel Kraemer,36,192,3.77,640,2008,0,History;Biography;Philosophy;Nonfiction;Religi...,National Book Critics Circle Award Nominee for...,"Cordoba, Spain;Egypt"

In [119]:
data.shape

(1095, 13)

In [120]:
#Description of the dataset
data.describe()

        Unnamed: 0
count  1085.000000
mean     48.823963
std      28.495506
min       0.000000
25%      24.000000
50%      49.000000
75%      73.000000
max      99.000000

In [121]:
#finding the null values in the dataset
data.isnull().sum()

Unnamed: 0                10
url                        0
title                      0
author                   115
num_reviews              115
num_ratings              115
avg_rating               115
num_pages                165
original_publish_year    115
series                     0
genres                   211
awards                   839
places                   987
dtype: int64

In [122]:
# drop all rows with any NaN and NaT values
#TODO think which columns can't have None values and drop na
data= data.dropna(subset=['author'])
data= data.dropna(subset=['num_reviews'])
data=data.dropna(subset=['num_ratings'])
data = data.dropna(subset=['avg_rating'])
#data = data.drop_duplicates(subset=['title'])
data = data.reset_index(drop=True)

In [123]:
#checking the shape after droping the null values
print(data.shape)
#finding the null values in the dataset
print(data.isnull().sum())

(980, 13)
Unnamed: 0                10
url                        0
title                      0
author                     0
num_reviews                0
num_ratings                0
avg_rating                 0
num_pages                 50
original_publish_year      0
series                     0
genres                    96
awards                   724
places                   872
dtype: int64

In [124]:
#Here we are dropping the Duplicate observations in the data frame
data.drop_duplicates()

,Unnamed: 0,url,title,author,num_reviews,num_ratings,avg_rating,num_pages,original_publish_year,series,genres,awards,places
0,1.0,https://www.goodreads.com/book/show/8664353-un...,"Unbroken: A World War II Story of Survival, Re...",Laura Hillenbrand,47532,846842,4.35,492,2010,0,Nonfiction;History;Biography;War;World War II;...,Los Angeles Times Book Prize for Biography (20...,NaN
1,2.0,https://www.goodreads.com/book/show/10884.Eins...,Einstein: His Life and Universe,Walter Isaacson,3835,158267,4.12,675,2007,0,Biography;Nonfiction;Science;History;Science;P...,Audie Award for Biography/Memoir (2008),Europe
2,3.0,https://www.goodreads.com/book/show/1845.Into_...,Into the Wild,Jon Krakauer,23430,954182,3.99,207,1997,0,Nonfiction;Biography;Travel;Adventure;Classics...,Washington State Book Award (1997),"Mexico;Virginia;The Slabs, Mojave Desert, Cali..."
3,4.0,https://www.goodreads.com/book/show/2203.John_...,John Adams,David McCullough,6621,344140,4.04,751,2001,0,History;Biography;Nonfiction;North American Hi...,Pulitzer Prize for Biography or Autobiography ...,"Boston, Massachusetts;Philadelphia, Pennsylvania"
4,5.0,https://www.goodreads.com/book/show/2199.Team_...,Team of Rivals: The Political Genius of Abraha...,Doris Kearns Goodwin,7506,178122,4.22,916,2006,0,History;Nonfiction;Biography;Politics;North Am...,Benjamin Barondess Award (2006);Lincoln Prize ...,"Springfield, Illinois;Chicago, Illinois;Illinois"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,95.0,https://www.goodreads.com/book/show/667678.Col...,Coltrane: Chasin' the Trane,J.C. Thomas,15,265,3.92,280,1976,0,Music;Biography;Music;Jazz;Nonfiction;History,NaN,NaN
976,96.0,https://www.goodreads.com/book/show/7939034-th...,The End and the Beginning: Pope John Paul II -...,George Weigel,29,198,4.34,608,2010,0,Religion;History;Nonfiction;Biography;Christia...,Phoenix Catholic Award for Book of Foreign Aut...,NaN
977,97.0,https://www.goodreads.com/book/show/20576213-g...,Genie en Wereld - Toulouse-Lautrec,Gérard Baüer,0,1,3.0,NaN,1969,0,NaN,NaN,NaN
978,98.0,https://www.goodreads.com/book/show/16167419-f...,Faulkner: A Biography (Volume 2 of 2),Joseph Blotner,1,11,4.64,NaN,1974,0,Biography,NaN,NaN
979,99.0,https://www.goodreads.com/book/show/7162696-ma...,Maimonides: The Life and World of One of Civil...,Joel Kraemer,36,192,3.77,640,2008,0,History;Biography;Philosophy;Nonfiction;Religi...,National Book Critics Circle Award Nominee for...,"Cordoba, Spain;Egypt"

In [125]:
#checking the shape after droping the null values
print(data.shape)
data.head(10)

(980, 13)

,Unnamed: 0,url,title,author,num_reviews,num_ratings,avg_rating,num_pages,original_publish_year,series,genres,awards,places
0,1.0,https://www.goodreads.com/book/show/8664353-un...,"Unbroken: A World War II Story of Survival, Re...",Laura Hillenbrand,47532,846842,4.35,492,2010,0,Nonfiction;History;Biography;War;World War II;...,Los Angeles Times Book Prize for Biography (20...,NaN
1,2.0,https://www.goodreads.com/book/show/10884.Eins...,Einstein: His Life and Universe,Walter Isaacson,3835,158267,4.12,675,2007,0,Biography;Nonfiction;Science;History;Science;P...,Audie Award for Biography/Memoir (2008),Europe
2,3.0,https://www.goodreads.com/book/show/1845.Into_...,Into the Wild,Jon Krakauer,23430,954182,3.99,207,1997,0,Nonfiction;Biography;Travel;Adventure;Classics...,Washington State Book Award (1997),"Mexico;Virginia;The Slabs, Mojave Desert, Cali..."
3,4.0,https://www.goodreads.com/book/show/2203.John_...,John Adams,David McCullough,6621,344140,4.04,751,2001,0,History;Biography;Nonfiction;North American Hi...,Pulitzer Prize for Biography or Autobiography ...,"Boston, Massachusetts;Philadelphia, Pennsylvania"
4,5.0,https://www.goodreads.com/book/show/2199.Team_...,Team of Rivals: The Political Genius of Abraha...,Doris Kearns Goodwin,7506,178122,4.22,916,2006,0,History;Nonfiction;Biography;Politics;North Am...,Benjamin Barondess Award (2006);Lincoln Prize ...,"Springfield, Illinois;Chicago, Illinois;Illinois"
5,6.0,https://www.goodreads.com/book/show/17157.Mari...,Marie Antoinette: The Journey,Antonia Fraser,1259,38279,3.88,512,2006,0,History;Biography;Nonfiction;Cultural;France;H...,Los Angeles Times Book Prize,France
6,7.0,https://www.goodreads.com/book/show/6493208-th...,The Immortal Life of Henrietta Lacks,Rebecca Skloot,36622,647163,4.07,370,2010,0,Nonfiction;Science;History;Biography;Health;Me...,Ambassador Book Award for American Studies (20...,"Baltimore, Maryland;Clover, Virginia"
7,8.0,https://www.goodreads.com/book/show/10414941-c...,Catherine the Great: Portrait of a Woman,Robert K. Massie,4165,104430,3.9,625,2011,1,History;Biography;Nonfiction;Cultural;Russia;H...,PEN/Jacqueline Bograd Weld Award for Biography...,NaN
8,9.0,https://www.goodreads.com/book/show/2279.Truman,Truman,David McCullough,2481,84692,4.1,1120,1993,0,Biography;History;Politics;Presidents;Nonficti...,Pulitzer Prize for Biography or Autobiography ...,NaN
9,10.0,https://www.goodreads.com/book/show/16130.Alex...,Alexander Hamilton,Ron Chernow,9071,159904,4.17,818,2005,0,History;Biography;Nonfiction;North American Hi...,George Washington Book Prize (2005);National B...,United States of America

In [126]:
#checking the Author column containing the numerice values count
data.author.str.contains(r'[0-9]').value_counts()

False    980
Name: author, dtype: int64

In [127]:
#Converting the object data type to numerice data type
data['avg_rating'] = pd.to_numeric(data['avg_rating'],errors = 'coerce')

In [128]:
# MinMax Normilization on avg_rating and scaling from 0 to 10 and saving it into the minmax_norm_rating
data['minmax_norm_rating'] = 1 + (data['avg_rating'] - data['avg_rating'].min()) / (data['avg_rating'].max() - data['avg_rating'].min()) * 9

In [129]:
# Mean normilization
data['mean_norm_rating'] = 1 + (data['avg_rating'] - data['avg_rating'].mean()) / (data['avg_rating'].max() - data['avg_rating'].min()) * 9

In [130]:
data.shape

(980, 15)

In [131]:
data.head(10)

,Unnamed: 0,url,title,author,num_reviews,num_ratings,avg_rating,num_pages,original_publish_year,series,genres,awards,places,minmax_norm_rating,mean_norm_rating
0,1.0,https://www.goodreads.com/book/show/8664353-un...,"Unbroken: A World War II Story of Survival, Re...",Laura Hillenbrand,47532,846842,4.35,492,2010,0,Nonfiction;History;Biography;War;World War II;...,Los Angeles Times Book Prize for Biography (20...,NaN,8.830,1.638666
1,2.0,https://www.goodreads.com/book/show/10884.Eins...,Einstein: His Life and Universe,Walter Isaacson,3835,158267,4.12,675,2007,0,Biography;Nonfiction;Science;History;Science;P...,Audie Award for Biography/Memoir (2008),Europe,8.416,1.224666
2,3.0,https://www.goodreads.com/book/show/1845.Into_...,Into the Wild,Jon Krakauer,23430,954182,3.99,207,1997,0,Nonfiction;Biography;Travel;Adventure;Classics...,Washington State Book Award (1997),"Mexico;Virginia;The Slabs, Mojave Desert, Cali...",8.182,0.990666
3,4.0,https://www.goodreads.com/book/show/2203.John_...,John Adams,David McCullough,6621,344140,4.04,751,2001,0,History;Biography;Nonfiction;North American Hi...,Pulitzer Prize for Biography or Autobiography ...,"Boston, Massachusetts;Philadelphia, Pennsylvania",8.272,1.080666
4,5.0,https://www.goodreads.com/book/show/2199.Team_...,Team of Rivals: The Political Genius of Abraha...,Doris Kearns Goodwin,7506,178122,4.22,916,2006,0,History;Nonfiction;Biography;Politics;North Am...,Benjamin Barondess Award (2006);Lincoln Prize ...,"Springfield, Illinois;Chicago, Illinois;Illinois",8.596,1.404666
5,6.0,https://www.goodreads.com/book/show/17157.Mari...,Marie Antoinette: The Journey,Antonia Fraser,1259,38279,3.88,512,2006,0,History;Biography;Nonfiction;Cultural;France;H...,Los Angeles Times Book Prize,France,7.984,0.792666
6,7.0,https://www.goodreads.com/book/show/6493208-th...,The Immortal Life of Henrietta Lacks,Rebecca Skloot,36622,647163,4.07,370,2010,0,Nonfiction;Science;History;Biography;Health;Me...,Ambassador Book Award for American Studies (20...,"Baltimore, Maryland;Clover, Virginia",8.326,1.134666
7,8.0,https://www.goodreads.com/book/show/10414941-c...,Catherine the Great: Portrait of a Woman,Robert K. Massie,4165,104430,3.90,625,2011,1,History;Biography;Nonfiction;Cultural;Russia;H...,PEN/Jacqueline Bograd Weld Award for Biography...,NaN,8.020,0.828666
8,9.0,https://www.goodreads.com/book/show/2279.Truman,Truman,David McCullough,2481,84692,4.10,1120,1993,0,Biography;History;Politics;Presidents;Nonficti...,Pulitzer Prize for Biography or Autobiography ...,NaN,8.380,1.188666
9,10.0,https://www.goodreads.com/book/show/16130.Alex...,Alexander Hamilton,Ron Chernow,9071,159904,4.17,818,2005,0,History;Biography;Nonfiction;North American Hi...,George Washington Book Prize (2005);National B...,United States of America,8.506,1.314666

In [132]:
# Converting the awards column into numerical data
data['awards'] = data['awards'].str.split(';').str.len()

data = data.rename(columns={'title': 'Title', 'original_publish_year': 'Publication_year', 'minmax_norm_rating': 'Rating', 'awards':'Awards', 'num_pages':'Nº pages', 'series':'Series'})

In [133]:
data.head(10)

,Unnamed: 0,url,Title,author,num_reviews,num_ratings,avg_rating,Nº pages,Publication_year,Series,genres,Awards,places,Rating,mean_norm_rating
0,1.0,https://www.goodreads.com/book/show/8664353-un...,"Unbroken: A World War II Story of Survival, Re...",Laura Hillenbrand,47532,846842,4.35,492,2010,0,Nonfiction;History;Biography;War;World War II;...,7.0,NaN,8.830,1.638666
1,2.0,https://www.goodreads.com/book/show/10884.Eins...,Einstein: His Life and Universe,Walter Isaacson,3835,158267,4.12,675,2007,0,Biography;Nonfiction;Science;History;Science;P...,1.0,Europe,8.416,1.224666
2,3.0,https://www.goodreads.com/book/show/1845.Into_...,Into the Wild,Jon Krakauer,23430,954182,3.99,207,1997,0,Nonfiction;Biography;Travel;Adventure;Classics...,1.0,"Mexico;Virginia;The Slabs, Mojave Desert, Cali...",8.182,0.990666
3,4.0,https://www.goodreads.com/book/show/2203.John_...,John Adams,David McCullough,6621,344140,4.04,751,2001,0,History;Biography;Nonfiction;North American Hi...,6.0,"Boston, Massachusetts;Philadelphia, Pennsylvania",8.272,1.080666
4,5.0,https://www.goodreads.com/book/show/2199.Team_...,Team of Rivals: The Political Genius of Abraha...,Doris Kearns Goodwin,7506,178122,4.22,916,2006,0,History;Nonfiction;Biography;Politics;North Am...,4.0,"Springfield, Illinois;Chicago, Illinois;Illinois",8.596,1.404666
5,6.0,https://www.goodreads.com/book/show/17157.Mari...,Marie Antoinette: The Journey,Antonia Fraser,1259,38279,3.88,512,2006,0,History;Biography;Nonfiction;Cultural;France;H...,1.0,France,7.984,0.792666
6,7.0,https://www.goodreads.com/book/show/6493208-th...,The Immortal Life of Henrietta Lacks,Rebecca Skloot,36622,647163,4.07,370,2010,0,Nonfiction;Science;History;Biography;Health;Me...,7.0,"Baltimore, Maryland;Clover, Virginia",8.326,1.134666
7,8.0,https://www.goodreads.com/book/show/10414941-c...,Catherine the Great: Portrait of a Woman,Robert K. Massie,4165,104430,3.90,625,2011,1,History;Biography;Nonfiction;Cultural;Russia;H...,3.0,NaN,8.020,0.828666
8,9.0,https://www.goodreads.com/book/show/2279.Truman,Truman,David McCullough,2481,84692,4.10,1120,1993,0,Biography;History;Politics;Presidents;Nonficti...,5.0,NaN,8.380,1.188666
9,10.0,https://www.goodreads.com/book/show/16130.Alex...,Alexander Hamilton,Ron Chernow,9071,159904,4.17,818,2005,0,History;Biography;Nonfiction;North American Hi...,2.0,United States of America,8.506,1.314666

In [144]:
# analysis for the authors book publication
def best_author_book(author, data):
 return data[data['author']==author].sort_values("Rating", ascending=False)['Title'].head(1).item()

In [145]:
#finding the best authors book by giving the author name to the function
best_author_book(author='Robert K. Massie',data=data)

'Nicholas And Alexandra'

In [146]:
# analysis for the finding the author on the year based on the Ratings
def best_author_year(Publication_year, data):
 return data[data['Publication_year']==Publication_year].sort_values("Rating", ascending=False)['author'].head(1).item()

In [147]:
#finding the best author by giving the publication_year to the function
best_author_year(Publication_year='2006',data=data)

'Martin Lings'

In [143]:
#Group the books by original_publish_year and get the mean of the minmax_norm_ratings of the groups

data.groupby(['Publication_year'])['Rating'].mean()

Publication_year
1952                      8.506000
1956                      8.200000
1960                      8.470000
1964                     10.000000
1966                      6.400000
                           ...
2019                      8.358400
2020                      9.082000
2021                      8.279714
2022                      6.899500
original_publish_year          NaN
Name: Rating, Length: 61, dtype: float64